.modalContent {
    width: 500px;
    max-width: 90vw;
    background-color: #ffffff;
}

.body {
    padding: 1.5rem;
    background-color: #ffffff;
    color: #575e75;
}

.author {
    color: #575e75;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.author a {
    color: #4c97ff;
    text-decoration: none;
}

.notice {
    padding: 1rem;
    background: #f5f5f5; /* 浅灰色提示框，而不是红色 */
    border-radius: 4px;
    color: #575e75;
    line-height: 1.5;
    font-size: 0.85rem;
}